body {
    background: antiquewhite;
    background-image: url(bg_img.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
    border: 2px solid white;
    border-radius: 20px;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 50px;
    padding: 16px 8px;
    font-size: 40px;
    border-radius: 13px;
    margin: 10px;
    background-color: white;
}

.buttons {
    display: grid;
    /* border-left: 1px solid#999; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid #999;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;  
    padding: 5px;  
    border-radius: 25px;
    margin: 15px 10px;
    
}

.blueie {
    background-color: rgb(85, 85, 255);
    color: white;
}
.brownie{
    background-color: rgb(216, 139, 61);
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}